
.province__active {
  fill: #9E3A46;
  background-color: aliceblue;
  cursor: pointer;
}


.map__svg {
  fill:#142060;
  padding: 30px;
  stroke: #9E3A46;
}

.map__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;

  border-radius: 15px;
}

.map__title {
  font-family: 'Bree Serif', serif;
  color: #FADA7A;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #9E3A46;
  width: 90%;
}