
.province__active {
  fill: #F1F3F7;
  background-color: aliceblue;
}


.map__svg {
  fill:#000000;
  padding: 30px;
}

.map__wrapper{
  margin-top: 50px;
  background: #FFFFFF;
}

.map__title {
  font-family: empik, serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #D0D5DE;
}